@charset "UTF-8";

/* Style the tab 
  position: -webkit-sticky;
  position: sticky;
  add in custom CSS if needed
*/
.custom-tabs {
  overflow: auto;
  white-space: nowrap;
  top: 0;
  display: flex;
}

.custom-tab-title {
  margin: auto 0.1em;
}

.custom-tab-content {
  border-style: solid;
}